body {
  padding: 20px 40px;
  /* max-width: 80%; */
  /* background: red; */
}

h1{
  border: double solid
}

.title {
  top: 80px;
  left: 120px;
  padding: 50px;
  width: 500px;
  height: 1000px;
  background: skyblue;
  z-index: -1;
  position: fixed;
}

.double{
  padding: 2px 3px;
  border: 3px double;
  background-color: black;
  color: white;
}

.poem {
  padding: 200px 0 0 0;
  color: red;
}

.verse1 {
  padding: 20px 20px 20px 20px;
  border: 2px dotted;
  width: 250px;
  background: white;
}

.verse2 {
  padding: 20px 20px 20px 20px;
  border: 2px dotted;
  width: 250px;
  background: white;
  margin: 0 auto
}

.verse3 {
  padding: 20px 20px 20px 20px;
  border: 2px dotted;
  width: 250px;
  background: white;
}

.verse4 {
  padding: 20px 20px 20px 20px;
  border: 2px dotted;
  width: 250px;
  background: black;
  color: white;
  float: right;
}
