.main-nav{
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 180px;
  font-weight: 400;
  transition: margin 1s ease;
}

.j{
  background: none;
}

.j:hover{
  color: yellow;
}

.circle-flex{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.circle{
  width: 80px;
  height: 80px;
  border: 10px solid pink;
  border-radius: 50%;
  margin: 0 10px;
  /* transition: transform 1s ease; */
}

a.circle:hover{
  background: yellow;
}

.name{
  display: none;
  position: absolute;
  top: -40px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.circle-flex:hover .name{
  display: block;
}

.selected{
  display: block;
  transform: translateY(80px);
}

.side-nav{
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-flow: column wrap;
  max-width: 25%;
}

.sub{
  position: relative;
  right: 20px;
}

.highlight{
  background: yellow;
  color: deepskyblue;
  border-radius: 20px;
}

.side-nav a{
  font-size: 30px;
  margin-right: 50px;
  margin-bottom: 5px;
  padding: 1px 10px;
  transition: color 0.5s ease;
}

.side-nav a:hover{
  background: yellow;
  color: deepskyblue;
  border-radius: 20px;
}
