body{
  font-family: 'Hepta Slab', serif;
  font-size: 400px;
  display: flex;
}

.back{
  position: fixed;
  font-size: 70px;
  right: 20px;
  bottom: 0;
}

.name{
    /* border: 1px solid; */
  position: absolute;
  padding: 50px;
  left: -200px;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
  color: black;
  /* transition: 3s ease; */
}

a:hover {
  color: blue;
  transition: 0.2s ease;
}

#menu{
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu-item{
  /* position: absolute;
  bottom: 50px; */
  display: none;
  color: red;
  font-size: 20px;
  font-weight: 500;
  max-width: 100px;
  margin-right: 20px;

}

#menu:hover #menu-item{
  display: block;
  transition: 0.5s ease;
}
